*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.size-image{
    width:100%;
    height: auto;
    margin-top: 30px;
}
.box-img-head{
    width: 250px;
   margin: auto;
}
.title-container{
    text-align: center;
    padding: 0rem 2rem 2rem 2rem;
    width: 100%;
}
.total {
    background: linear-gradient( 0deg, rgba(104, 113, 120, 1) 0%, rgba(83, 90, 95, 1) 100% );
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    position: sticky;
    top: 0;
    box-shadow: rgb(0 0 0 / 12%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    margin-bottom: 4rem;
}
.totalMoney {
    font-size: 1.5rem;
    margin: 0 2rem;
}
.percentageLeft {
    font-size: 1.5rem;
    margin: 0 2rem;
}
.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.element img{
    width: 380px;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.element{
    max-width: 380px;
    margin: 2rem 3rem;
    object-fit: cover;
    text-align: center;
    background: linear-gradient( 0deg, rgba(104, 113, 120, 1) 0%, rgba(83, 90, 95, 1) 100% );
    color: white;
    border-radius: 5px;
    box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset, rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}
.element p {
    font-size: 1.2rem;
    padding: 0.1rem;
    margin: 0px;
}
.element span {
    font-size: 1.2rem;
}
.buyAndSellContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-sell {
    background-color: rgb(221, 153, 153);
}
button {
    cursor: pointer;
    padding: 0.938rem 1.25rem;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    margin: 0.938rem;
    background-color: white;
}
.btn-buy {
    background-color: rgb(158,221,153)
}